# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# project results
projects/first_test/results/*
projects/test_single_artery/*

# models
models/*

# pilot code
pilot_matlab/*

# other files
*.xlsx
*.xls
*.txt
*.res
*.csv

*.nb
*.rar
